html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #65b741;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* start nav*/
nav {
  background-color: #ffffff;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-links li a {
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease-in;
  padding: 29px 30px;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.nav-links li a:hover {
  color: #65b741;
}
.nav-logo {
  background-color: #65b741;
  color: #fff;
  padding: 29px 25px;
  margin-right: 8px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.nav-sm li {
  margin: 0 16px;
}
.nav-sm li a i {
  color: #00000075;
  font-size: 19px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.nav-sm li a i:hover {
  color: #65b741;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.nav-button {
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  background-color: #65b741;
  padding: 14px 30px;
  border-radius: 100px;
  margin-right: 40px;
  transition: 0.2s ease-in;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}
.nav-button:hover {
  background-color: #509035;
}
/* start hamburger */
.menu-toggle {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  height: 20px;
  position: relative;
  margin-right: 30px;
}
.menu-toggle div {
  width: 28px;
  height: 3.2px;
  border-radius: 15px;
  background-color: #00000075;
  transition: all 0.5s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.menu-toggle input {
  position: absolute;
  opacity: 0;
  height: 28px;
  width: 40px;
  left: -10px;
  top: -5px;
  z-index: 999;
  cursor: pointer;
}
.menu-toggle div:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle div:nth-child(4) {
  transform-origin: 0 0;
}
.menu-toggle input:checked ~ :nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
  -moz-transform: rotate(45deg) translate(-1px, -1px);
  -ms-transform: rotate(45deg) translate(-1px, -1px);
  -o-transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ :nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
  -webkit-transform: rotate(-45deg) translate(-2px, 0px);
  -moz-transform: rotate(-45deg) translate(-1px, 0px);
  -ms-transform: rotate(-45deg) translate(-1px, 0px);
  -o-transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked ~ :nth-child(3) {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
@media screen and (max-width: 880px) {
  /* memunculkan hamburger menu */
  .menu-toggle {
    display: flex;
  }
} /* end hamburger */
/* start responsive nav */
@media screen and (max-width: 1000px) {
  .nav-links li a {
    padding: 29px 20px;
  }
}
@media screen and (max-width: 880px) {
  .navbar {
    justify-content: end;
    padding: 29px 0;
  }
  .nav-button {
    margin-right: 10px;
  }
  .nav-sm {
    padding-left: 10%;
  }
  .nav-logo {
    position: absolute;
    left: 0;
    top: 0;
  }
  /* slide nav ketika di click hamburger */
  .nav-links {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    background-color: #ffffff;
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .nav-links.slide {
    transform: translateX(0);
  }
  .nav-links li a {
    padding: 0 110px;
    font-size: 18px;
  }
  .nav-links li {
    padding: 30px 0;
  }
}
@media screen and (max-width: 564px) {
  .nav-sm li a i {
    font-size: 17px;
  }
  .nav-sm li {
    margin: 0 12px;
  }
}
/* end responsive nav */
/* end nav */

/* start hero */
.hero-image {
  background-image: url(../transportWeb/image/haidan-7b4Wt4J6Ryc-unsplash.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Raleway", sans-serif;
}
.hero-block {
  display: flex;
  position: absolute;
  bottom: 8%;
  left: 5%;
  height: 400px;
}
.hero-block-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 50px;
  width: 30%;
  height: 100%;
  background-color: rgba(100, 183, 65, 0.91);
  color: #fff;
}
.hero-block-1 p {
  font-size: 50px;
  padding: 0px 0px;
  font-weight: 900;
  margin-bottom: 45px;
}
.hero-block-1 button {
  border: 1px solid white;
  width: 80%;
  padding: 13px 10px;
  font-size: 17px;
  background-color: #00000000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.hero-block-1 button:hover {
  background-color: white;
  color: #509035;
}
.hero-block-2 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.91);
  align-items: center;
  display: flex;
  color: #030637;
  padding: 0 50px 0 50px;
}
.hero-block-2 p {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 1100px) {
  .hero-block-1 p {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .hero-block-2 p {
    font-size: 28px;
  }
}
@media screen and (max-width: 880px) {
  .hero-block {
    height: 360px;
    bottom: 12%;
    left: 3%;
  }
  .hero-block-1 {
    width: 230px;
    padding: 0 40px;
  }
  .hero-block-1 p {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .hero-block-1 button {
    font-size: 13px;
    width: 130px;
  }
  .hero-block-2 {
    width: 60%;
    padding: 0 40px;
  }
  .hero-block-2 p {
    font-size: 26px;
    line-height: 35px;
  }
}
@media screen and (max-width: 580px) {
  .hero-block {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    height: 440px;
    left: 5%;
  }
  .hero-block-1 {
    width: 100%;
    height: 90%;
  }
  .hero-block-2 {
    width: 100%;
  }
}
/* end hero */

/* start service */
.services {
  background-color: #fff;
  padding: 120px 0px 100px 0;
  box-sizing: border-box;
  margin: 0;
}
.service-tittle h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #030637;
  margin-bottom: 50px;
}
.service-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 60px 0;
}
.service-box-1,
.service-box-2,
.service-box-3 {
  width: 30%;
}
.service-box img {
  width: 100%;
}
.service-box h2 span {
  font-size: 23px;
  font-weight: 600;
  color: #509035;
}
.service-box h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 30px 0 20px 0;
}
.service-box p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #030637;
  text-align: justify;
}
@media screen and (max-width: 700px) {
  .service-box-1,
  .service-box-2,
  .service-box-3 {
    width: 85%;
  }
}
/* end service */

/* start about */
.about {
  background-color: #f3ffef;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  padding: 80px 100px 80px 20px;
  margin-top: 0px;
}
.about img {
  position: absolute;
  right: 0px;
  width: 600px;
  opacity: 0.7;
}
.about-left {
  width: 400px;
  z-index: 1;
}
.about-left h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  line-height: 55px;
  text-align: left;
  color: #040743;
}
.about-left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 25px;
  color: #030637;
}
.about-left button {
  font-family: "Raleway", sans-serif;
  border: 0px;
  background-color: #65b741;
  padding: 20px 33px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.about-right-1,
.about-right-2 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 440px;
  padding: 35px 35px 35px 0;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.about-right i {
  display: flex;
  align-items: center;
  font-size: 35px;
  padding: 0px 20px 0 25px;
  color: #65b741;
  border-left: 2px solid #65b741;
}
.about-right h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #030637;
}
.about-right p {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: #030637;
}
@media screen and (max-width: 1076px) {
  .about {
    gap: 10px;
    padding: 50px 50px 50px 20px;
  }
  .about-right-1,
  .about-right-2 {
    width: 400px;
  }
}
@media screen and (max-width: 915px) {
  .about {
    gap: 0px;
    padding: 60px 0 60px 0;
  }
}
@media screen and (max-width: 860px) {
  .about {
    flex-direction: column;
    gap: 50px 0;
  }
  .about-left h1 {
    font-size: 45px;
  }
  .about-left {
    width: 70%;
  }
  .about-right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-right-1,
  .about-right-2 {
    width: 70%;
    margin: 14px 0;
  }
  .about img {
    width: 80%;
  }
}
/* end about */

/* start blog */

.blog {
  display: flex;
  width: 100%;
  background-color: #65b741;
}
.blog-img {
  width: 52%;
  background-image: url(../transportWeb/image/rosebox-BFdSCxmqvYc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.blog-text {
  width: 48%;
  margin: auto 0;
  padding: 70px 25px 70px 50px;
  color: #fff;
}
.blog-text-tittle {
  padding-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
}
.blog-text-tittle span {
  display: block;
  width: 100px;
  height: 3px;
  margin-top: 30px;
  background-color: #fff;
}
.blog-text-main {
  display: flex;
}
.blog-text-main-1,
.blog-text-main-2 {
  width: 50%;
  margin-top: 50px;
  padding: 0px 20px 0px 0;
  box-sizing: border-box;
}
.blog-text-main-2 {
  padding-left: 25px;
  border-left: 1px solid #ffffff7b;
}
.blog-text-main-1 h2,
.blog-text-main-2 h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.blog-text-main-1 p,
.blog-text-main-2 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.blog-text-main-1 button,
.blog-text-main-2 button {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border: 0px;
  background-color: #65b741;
  color: #fff;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
.blog-text-main-1 button i,
.blog-text-main-2 button i {
  padding: 0 5px;
}
@media screen and (max-width: 900px) {
  .blog-text-main {
    flex-direction: column;
  }
  .blog-text-main-2 {
    border: none;
    padding-left: 0px;
  }
  .blog-text-main-1,
  .blog-text-main-2 {
    width: 100%;
    padding: 0px;
    margin-top: 45px;
  }
  .blog-text-main-1 h2,
  .blog-text-main-2 h2 {
    margin-bottom: 10px;
  }
  .blog-text-main-1 p,
  .blog-text-main-2 p {
    margin-bottom: 10px;
  }
  .blog-text {
    padding: 60px 40px 60px 50px;
  }
}
@media screen and (max-width: 670px) {
  .blog {
    flex-direction: column;
  }
  .blog-img {
    height: 350px;
    width: 100%;
  }
  .blog-text {
    width: 100%;
    padding: 50px 30px;
  }
  .blog-text-main-1,
  .blog-text-main-2 {
    width: 100%;
  }
  .blog-text-tittle {
    padding-bottom: 10px;
  }
}
/* end blog */
